.accordion-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.accordion {
    background-color: inherit;
    padding: 0 0 0.5rem 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    width: 100%;
}

.accordion--icon-right {
    justify-content: space-between;
}

button.accordion:focus {
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
}

.rotate {
    transform: rotate(180deg);
}

.accordion-content {
    background-color: inherit;
    overflow: hidden;
    transition: max-height 0.1s ease;
}

.icon {
    margin: 0 0.5rem 0 0.5rem;
    right: 0;
}
