.data_list {
    display: flex;
    flex-direction: column;
}

.data_list_item-key {
    display: inline-block;
    margin-inline-start: 0;
}

.data_list_item-value {
    display: inline-block;
    margin-inline-start: 0;
}
