.rfs-select-container {
    width: 100%;
}

/* NOTE: important is used here due to the components default styles over-riding these otherwise */
.rfs-control-container {
    min-height: 0 !important;
    border: none !important;
    border-radius: 0 !important;
    color: var(--slate-gray) !important;
    font-size: 1rem !important;
    cursor: pointer !important;
    box-shadow: none !important;
}

/*.rfs-control-container:focus { !* Need to address the focus style at some point. */
/*    outline: 5px auto Highlight;*/
/*    outline: 5px auto -webkit-focus-ring-color;*/
/*} */

.rfs-control-container div[class^="Separator-"] {
    width: 0;
}

.rfs-control-container div[class^="ValueWrapper-"] {
    padding: 0;
}

.rfs-menu-container {
    left: calc(-1rem - 1px) !important;
    margin-top: 1.5rem !important;
    border: 1px solid var(--outline-gray) !important;
    border-radius: 0 !important;
    color: var(--slate-gray) !important;
    font-size: 1rem !important;
    box-shadow: none !important;
    cursor: pointer !important;
}

.rfs-option {
    cursor: pointer !important;
}

.rfs-option:hover {
    background-color: var(--highlight-gray)  !important;  /* Light colour for hover/focus so the selected option is clear... check with Design. */
}
.rfs-option.rfs-option-focused {
    background-color: var(--highlight-gray)  !important;  /* Light colour for hover/focus so the selected option is clear... check with Design. */
}

.rfs-option.rfs-option-selected {
    color: var(--slate-gray) !important; /* */
    background-color: var(--outline-gray) !important;
}

/** available classes on react-functional-select
rfs-select-container
rfs-control-container
rfs-menu-container
rfs-autosize-input
rfs-caret-icon
rfs-clear-icon
rfs-loading-dots
rfs-option, rfs-option-focused, rfs-option-selected, rfs-option-disabled
 */

/* DEFAULTS values, override using theme, but can not use a theme while applying ccs to classes as above: */
/* https://based-ghost.github.io/react-functional-select/?path=/story/react-functional-select--styling */
