/* Global style variables */
:root {
    /* COLOURS */
    /* DEFAULT BLUE - eg Button */
    --default-blue: #177EAB;

    /* LIGHT BLUE - eg Icons, Button hover/focus */
    --light-blue: #26ABE2;

    /* LINK BLUE - eg links */
    --link-blue: #157199;

    /* DARK GRAY - eg Footer */
    --dark-gray: #434345;

    /* SLATE GRAY - eg Input text */
    --slate-gray: #707070;

    /* OUTLINE GRAY - eg Box outlines */
    --outline-gray: #C4C4C4;

    /* HIGHLIGHT GRAY - Text action hover + highlight */
    --highlight-gray: #E0E0E0;

    /* MODAL GRAY - pop up background */
    --modal-gray: #F5F5F5;

    /* GREEN - */
    --green: #2A9047;

    /* ORANGE */
    --orange: #DC965A;

    /* HIGHLIGHT ORANGE */
    --highlight-orange: rgba(220, 150, 90, .2);

    /* HIGHLIGHT BLUE -eg datepicker highlight */
    --highlight-blue: rgb(157, 208, 229);

    /* HIGHLIGHT BLUE 20% transparent -eg tab highlight */
    --highlight-blue-20: rgba(157, 208, 229, 0.2);

    /* RED */
    --red: #CC5A43;

    /* CONTENT */
    /* FOCUS for inputs etc.  */
    --focus: #2a60e8;

    /* spacing */
    --standard-padding: 0.5rem;

    /* indent content - i.e. checkboxes, list items, etc */
    --standard-indent: 0 1rem 0.5rem 1rem;

    /* FONTS */
    /* font sizes */
    --font-size-XS: 0.875rem;

    --font-size-S: 1rem;

    --font-size-M: 1.125rem;

    --font-size-L: 1.25rem;

    --font-size-XL: 2rem;

    /* font weights */
    --font-weight-normal: normal;

    --font-weight-bold: bold;

    --font-weight-xtra: 900;
}

/* HTML reset/default styles */
html {
    box-sizing: border-box; /*  This ensures consistent and predictable sizing, since the default value of 'content-box' would not account for the padding or border. */
    font-size: 16px; /* This is used as the base size for a rem, anything else sized in rem will change if this is (good for scaling all fonts together, bad if you don't want components to change.*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: Helvetica,Arial,sans-serif;
}

img {
    max-width: 100%; /* Makes images responsive by default. Might not be what we want but lets see */
    height: auto;
}

/* override background highlight on all form inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.visually-hidden {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
