.title {
    font-family: "Lucida Sans", "Lucida Grande", Arial, sans-serif;
    color: var(--dark-gray);
}

.title-1 {
    font-family: "Lucida Sans", "Lucida Grande", Arial, sans-serif;
    color: var(--default-blue);
    font-size: 2rem;
}

.title-2 {
    font-size: 1.25rem;
}

.title-3 {
    font-size: 1.125rem;
}

.title-4 {
    font-size: 1rem;
}

.title-5 {
    font-size: 1rem;
}

.title-6 {
    font-size: 1rem;
}

.weight-normal {
    font-weight: normal;
}

.weight-bold {
    font-weight: bold;
}

.weight-xtra {
    font-weight: 900;
}
