/* autosuggest's fixed classNames below here */
.container {
    display: inline-block;
    width: 100%;
}

.input {
    border: none;
    font-size: 1rem;
}

.suggestions-list {
    background: white;
    border: 1px var(--outline-gray) solid;
    margin-top: 1rem;
    max-width: 34rem;
    min-width: 20rem;
    position: absolute;
}

.suggestion {
    background-color: white;
    display: flex;
    padding: 0.35rem 0.5rem;
}

.suggestion--highlighted {
    background-color: var(--outline-gray);
    cursor: pointer;
}

.suggestion:hover {
    background-color: var(--outline-gray);
    cursor: pointer;
}

/* Classnames you can to add styles to the Autosuggest component via this file to Theme prop
/*    container:                'react-autosuggest__container',*/
/*    containerOpen:            'react-autosuggest__container--open',*/
/*    input:                    'react-autosuggest__input',*/
/*    inputOpen:                'react-autosuggest__input--open',*/
/*    inputFocused:             'react-autosuggest__input--focused',*/
/*    suggestionsContainer:     'react-autosuggest__suggestions-container',*/
/*    suggestionsContainerOpen: 'react-autosuggest__suggestions-container--open',*/
/*    suggestionsList:          'react-autosuggest__suggestions-list',*/
/*    suggestion:               'react-autosuggest__suggestion',*/
/*    suggestionFirst:          'react-autosuggest__suggestion--first',*/
/*    suggestionHighlighted:    'react-autosuggest__suggestion--highlighted',*/
/*    sectionContainer:         'react-autosuggest__section-container',*/
/*    sectionContainerFirst:    'react-autosuggest__section-container--first',*/
/*    sectionTitle:             'react-autosuggest__section-title'*/
