.basic_button {
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--default-blue);
    color: white;
    border: 3px solid var(--default-blue);
}

.basic_button_fill-space {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
}

.basic_button_secondary {
    background: transparent;
    color: var(--default-blue);
}

.basic_button:hover {
    cursor: pointer;
    color: white;
    background:  var(--light-blue);
    border: 3px solid var(--light-blue);
}

.basic_button:focus {
    color: white;
    background:  var(--light-blue);
    border: 3px solid var(--light-blue);
}

.basic_button_disabled {
    background: gray;
    color: black;
    border: 3px solid transparent;
}

.basic_button_disabled:hover {
    cursor: not-allowed;
    color: black;
    background: gray;
    border: 3px solid transparent;
}


.basic_button_size-S {
    padding: 8px 16px;
}

.basic_button_size-M {
    padding: 24px 32px
}
