.container {
    text-align: left;
    padding: 8px 0 8px 16px;
    border: 1px solid var(--outline-gray);
}

.label-text {
    margin-bottom: 10px;
    display: block;
    font-weight: 700;
    color: var(--dark-gray);
}

.icon-and-input {
    display: flex;
}

.icon-and-input-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.icon {
    margin-right: 16px;
}

.icon-reverse {
    margin-right: 16px;
    margin-left: 16px;
}
