.container {
    text-align: left;
    padding: 0.5rem 0 0.5rem 1rem;
    border: 1px solid var(--outline-gray);
}

.label-text {
    margin-bottom: 0.75rem;
    display: block;
    font-weight: 700;
    color: var(--dark-gray);
}

.icon-and-input {
    display: flex;
}

.icon-and-input-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.icon {
    margin-right: 1rem;
}

.icon-reverse {
    margin-right: 1rem;
    margin-left: 1rem;
}
