.root {
    border: 2px solid var(--red);
    padding: 4px;
}

.children-wrapper {
    display: inline-flex;
    margin-bottom: 4px;
}
.error-message {
    font-size: smaller;
    display: flex;
    color: red;
}

