/* Centre modal in view port */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 45rem;
    min-height: 20rem;
    display: none;
    padding: 16px;
    z-index: 1;
}

/* Apply standard focus style */
.modal:focus {
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
}

/* Set an opaque cover over page content behind the modal, keeps mouse clicks on modal where ever they are in the page */
.modal:before {
    content: "";
    position: fixed;
    top: -10000px;
    left: -5000px;
    width: 10000px;
    height: 90000px;
    background: #33333340;
    z-index: -2;
}

 /* To give modal white background, needs to be applied to :after which is above the :before. (background style on .modal is below the :before) */
.modal:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    z-index: -1;
}

/* Modal is only visible when open; default display = none. */
.isOpen {
    display: block;
}

/* add invisible and v. quick transition so we can listen to focus leaving modal */
.modal:not(:focus-within) {
    transition: background-color 0.01s;
    background-color: rgb(255, 255, 254);
}

.header {
    margin-right: 40px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.header:focus {
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
}

/* close button is the last element in the dialog (for cycling tab back to modal), but needs visually placing in the top right for display */
.closeButton {
    position: fixed;
    top: 16px;
    right: 24px;
}
