.breadcrumb_list {
    display: flex;
}

.breadcrumb_link {
    text-decoration: none;
}

.breadcrumb_link:hover {
    text-decoration: underline;
    color: var(--dark-gray);
}

.breadcrumb_link:focus {
    text-decoration: underline;
    color: var(--dark-gray);
}

.breadcrumb_divider {
    margin: 0 8px;
}
