.list {
    display: flex;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color: var(--dark-gray);
}

.link:focus {
    text-decoration: underline;
    color: var(--dark-gray);
}

.divider {
    margin: 0 0.5rem;
}
