.character_button-image {
    background-color: transparent;
    margin: 12px;
    cursor: pointer;
    padding: 0;
}

.character_button-image:focus {
    outline:  deeppink solid 5px;
}

.character_button-image-selected {
    outline:  #26ABE2 solid 5px;
}

.character_avatar-image {
    position: relative;
    left: 50px;
    width: 200px;
}
