.button-image {
    background-color: transparent;
    margin: 16px;
    cursor: pointer;
    padding: 0;
}

.button-image:focus {
    outline:  deeppink solid 5px;
}

.button-image-selected {
    outline:  #26ABE2 solid 5px;
}

.avatar-image {
    position: relative;
    left: 50px;
    width: 200px;
}
