.smiley_button-image {
    background-color: white;
    margin: 16px;
    cursor: pointer;
    border: 1px solid darkgray;
    padding: 0;
}

.smiley_button-image:focus {
    outline:  deeppink solid 5px;
}

.smiley_button-image-selected {
    outline:  #26ABE2 solid 5px;
}

.smiley_face-image {
    width: 100px;
    height: auto;
}

.smiley_image-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 16px;
}

.smiley_person-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
}

.smiley_person-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
}
