.button {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}
.button-disabled {
    cursor: not-allowed;
}
.button-disabled .button-icon:hover {
    color: var(--dark-gray);
}

.button-icon:hover {
    color: var(--default-blue);
}

.button:focus {
    color: var(--default-blue);
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
}
