.generic-layout_full-page {
    text-align: center;
    margin: 16px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .generic-layout_full-page {
        margin: 0;
    }
}

.generic-layout_main-content {
    margin: 0 auto;
    min-height: 400px;
    max-width: 1300px;
    min-width: 450px;
}
