.head-section--bottom-border {
    border-bottom: 1px solid var(--outline-gray);
    margin-bottom: -1px;
}

.accordion {
    cursor: pointer;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    width: 100%;
    font: inherit;
    outline: inherit;
}

button.accordion:focus {
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
}

.accordion-content {
    background-color: inherit;
    overflow: hidden;
    transition: max-height 0.1s ease;
}

.icon {
    margin: 0 0.5rem 0 0.5rem;
    right: 0;
}

.icon-container {
    position: relative;
}

.rotate {
    transform: rotate(180deg);
}
