.link {
    color: var(--link-blue);
}

.size-XS {
    font-size: var(--font-size-XS);
}

.size-S {
    font-size: var(--font-size-S);
}

.size-M {
    font-size: var(--font-size-M);
}

.size-L {
    font-size: var(--font-size-L);
}

.size-XL {
    font-size: var(--font-size-XL);
}

.weight-normal {
    font-weight: var(--font-weight-normal);
}

.weight-bold {
    font-weight: var(--font-weight-bold);
}

.weight-xtra {
    font-weight: var(--font-weight-xtra);
}
