.details-form {
    display: flex;
    text-align: left;
    align-content: center;
    font-size: larger;
    flex: none;
    flex-direction: column;
    padding: 16px;
    background-color: lightgray;
    margin: 0 auto;
}

.details-form input,select {
    margin-left: 16px;
}

.details-form label {
    color: var(--dark-gray);
}

.details-form > * {
    margin-bottom: 18px;
}

.details-form:last-child {
    margin-bottom: 0;
}

.button-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.button-wrapper button {
    max-width: 600px;
    width: 100%;
    padding: 24px 60px;
}
