/* Hide default HTML checkbox */
.container input {
    margin: 0;
    opacity: 0;
    width: 0;
    height: 0;
}

/* Container to fill its parent */
.container {
    display: flex;
    height: 100%;
}

/* Text to sit center within the toggle */
.text {
    margin: auto;
}

/* Un-checked style of toggle button */
.toggle {
    display: flex;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    background: white;
    border: 1px solid var(--outline-gray);
}

/* Checked style */
.container input:checked + .toggle {
    background: var(--highlight-blue-20);
    color: var(--dark-gray);
    border: 1px solid var(--outline-gray);
}

/* focus style */
.container input:focus + .toggle {
    -moz-box-shadow:    0 0 0 2px var(--focus);
    -webkit-box-shadow: 0 0 0 2px var(--focus);
    box-shadow:         0 0 0 2px var(--focus);
}
