.icon-size-XS {
    font-size: 0.875rem;
}

.icon-size-S {
    font-size: 1rem;
}

.icon-size-M {
    font-size: 1.25rem;
}

.icon-size-L {
    font-size: 1.5rem;
}

.icon-size-XL {
    font-size: 2.75rem;
}

.icon-color-blue {
    color: var(--light-blue)
}

.icon-color-grey {
    color: var(--dark-gray)
}
